name: Build iOS

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.4'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS No-Codesign
        run: flutter build ios --release --no-codesign

      - name: Zip Runner.app
        run: |
          cd build/ios/iphoneos
          zip -r MonopolyBLR.zip Runner.app

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ios-build
          path: build/ios/iphoneos/MonopolyBLR.zip
